.hero {
    background-image: url("../img/background_in_space.webp");
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.lynx {
    position: absolute;
    top: 200px;
    left: 80%;
}

h1 {
    color: white;
    font-size: 70px;
}
h3 {
    font-size: 23px;
    color: white;
}