.float {
    /* float: left; */
    border: solid 1px black;
    margin: 10px;
    padding: 10px;
    width: auto;
    background-color: #f5e9bf;
}

.float-img-rt img {
    float: right;
    width:auto;
    height:auto;
    margin-left:15px;
    border: solid 1px black;
    padding: 12px;
    margin: 12px;
}

.float-img-lt img {
    float: left;
    width:auto;
    height:auto;
    margin-left:15px;
    border: solid 1px black;
    padding: 12px;
    margin: 12px;
}

.float-img {
    border: solid 1px black;
    padding: 10px;
    margin: 10px;
}